{% extends 'main/base.html' %}

{% block title %}
Фотографи
{% endblock %}

{% block content %}
    <style>
            .fig {
                display: block; /* Блочный элемент (для старых браузеров) */
                text-align: center; /* Выравнивание по центру */
                font-style: italic; /* Курсивное начертание */
                margin-top: 0; /* Отступ сверху */
                margin-bottom: 5px; /* Отступ снизу */
                color: #666; /* Цвет подрисуночной подписи */
            }
            .d14 {
                text-align:  center;
            }
    </style>
                                <!--Логотип по середині//-->
                            <!--І знову замість фотки квадрат :( //-->
<figure class="fig"><img src="mainlogo.jpg" width="320" height="179" alt="Logo"></figure>
                                    <!--Лінія//-->
<hr align="center" width="1000" color=#000 style="margin-bottom: 2rem;"/>
<h1>Тут будуть фотографи</h1>
    <p>Тест тексту</p>
{% endblock %}