{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Фотографи
{% endblock %}

{% block content %}
    <style>
            .fig {
                display: block;
                text-align: center;
                font-style: italic;
                margin-top: 0;
                margin-bottom: 5px;
                color: #666;
            }
            .d14 {
                text-align:  center;
            }

            .thumb figure {
                width: 31%;
                margin: 1%;
                display: inline-block;
            }

            .thumb img {
                border: 1px solid #fff;
                width: 100%;
            }

            .thumb figcaption {
                text-align: center;
                font-style: normal;
                margin-top: 13px;
            }
    </style>
                                <!--Логотип по середині//-->
    <figure class="fig"><img src="{% static 'main/images/logo/logo3.png'%}"
                         width="407" height="258" alt="Logo"style="margin-bottom:20px;margin-top:10px;"></figure>
                                    <!--Лінія//-->
    <hr width="1000" color=#000 style="margin-bottom: 2rem;margin-left:55px; "/>
                                  <!-- Фотографи //-->
    <div class="thumb">
        <figure>
            <img src="{% static 'main/images/Photographer/photographer1.jpg'%}">
            <figcaption>Вероніка Самокійщук</figcaption>
            <hr align="center" width="300" color=#000 style="margin-bottom: 23px;"/>
            <figcaption>067 87 23 254 </figcaption>
        </figure>
        <figure>
            <img src="{% static 'main/images/Photographer/photographer2.JPG'%}">
            <figcaption>Тимофій Слюсарчук</figcaption>
            <hr align="center" width="300" color=#000 style="margin-bottom: 23px;"/>
            <figcaption>098 77 53 516 </figcaption>
        </figure>
        <figure>
            <img src="{% static 'main/images/Photographer/photographer3.jpg'%}">
            <figcaption>Ульяна Савчук</figcaption>
            <hr a lign="center" width="300" color=#000 style="margin-bottom: 23px;"/>
            <figcaption>068 99 43 123 </figcaption>
        </figure>
    </div>
{% endblock %}