{% extends 'main/base.html' %}

{% block title %}
Введіть свої дані
{% endblock %}

{% block content %}
<h1>Введіть свої дані:</h1>
<form method="post">
    {% csrf_token %}
    {{ form.title }} <br>
    {{ form.task }} <br>
    {{ form.P }} <br>
    {{ form.I }} <br>
    {{ form.B }} <br>
    {{ form.email }} <br>
    {{ form.phone }} <br>
    <select name="zona" class="form-control" placeholder="Введіть зону фотосесії" maxlength="32" required="" id="id_zona">
        <option selected="" value="s1">HOME ROOM</option>
        <option value="s2">LOFT ROOM</option>
        <option value="s3">SMILE ROOM</option>
        <option value="s4">ELLE ROOM</option>
        <option value="s5">IN ROOM</option>
        <option value="s6">FREE ROOM</option>
    </select> <br>
    <!-- {{ form.zona }} <br> -->
    {{ form.DodPoslugu }} <br>
    {{ form.Descrip }} <br>
    <button type="submit" class="btn btn-success">Поставте 5!</button>
    <span>{{ error }}</span>
</form>
{% endblock %}
