<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="taskmanager/main/templates/main/favicon.ico">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
                                            <!-- ~Верстка~ //-->
     <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
     <h5 class="my-0 mr-md-auto font-weight-normal">Logo</h5>
    <!-- <h1 class="d-flex align-items-center fs-4 text-white mb-0">
      <img src="taskmanager/main/templates/main/logo.png" width="38" height="30" class="me-3" alt="Bootstrap">
      Cheatsheet
    </h1> //-->
            <nav class="my-2 my-md-0 me-md-3">
                <a class="p-2 text-dark" href="{% url 'home' %}">Головна</a>
                <a class="p-2 text-dark" href="{% url 'about' %}">Фотозона</a>
                <a class="p-2 text-dark" href="{% url 'about' %}">Прайс</a>
                <a class="p-2 text-dark" href="{% url 'about' %}">Фотографи</a>
            </nav>
                <a class="btn btn-outline-primary" href="{% url 'create' %}"
                   style="
                            display: inline-block;
                            font-weight: 400;
                            color: #212529;
                            text-align: center;
                            vertical-align: middle;
                            -webkit-user-select: none;
                            -moz-user-select: none;
                            -ms-user-select: none;
                            user-select: none;
                            background-color: #a8bcfb;
                            border: 1px solid #a8bcfb;
                            padding: .3rem .80rem;
                            font-size: 1rem;
                            line-height: 1.5;
                            border-radius: .99rem;
                            border-color: #a8bcfb;
                            transition: color .15s ease-in-out,background-color
                            .15s ease-in-out,border-color .15s ease-in-out,box-shadow
                            .15s ease-in-out;">Бронювання</a>
                <!-- <a class="btn btn-outline-primary" href="admin">Адміністрування</a> //-->
     </div>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>